.profile__edit-button {
    background-image: url(../../../images/Edit-Button.svg);
    width: 24px;
    height: 24px;
    transition: opacity .4s;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 0;
    align-self: flex-end;
    margin-bottom: 8px;
    margin-left: 18px;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 424px) {
    .profile__edit-button {
        background-image: url(../../../images/Edit_Button_mobile.svg);
        width: 18px;
        height: 18px;
        margin-left: 10px;
    }
}