.logo {
  background-image: url(../../images/logo_mesto-Russia.svg);
  min-width: 142px;
  height: 33px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 424px) {
  .logo {
    background-image: url(../../images/Logo_mesto-Russia_mobile.svg);
    width: 104px;
    height: 24.4px;
  }
}
